/* ====TOP==== */

.mainHeader .titleHeader h1::selection{
    background-color: none;
    color: #9f7866;
}
/* SELECTIONS */



/* ====TOP==== */
.mainHeader{
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.mainHeader em{
    position: absolute;
    top: 1vh;
    left: 2vh;
    font-size: 4vw;
    color: #9f7866;
    font-family: 'Babylonica', cursive;
}




/* ====MIDDLE==== */


.mainHeader .titleHeader{
    height: 100%;
    text-align: center;
    font-size: 10vw;
    text-transform: uppercase;
    font-family: 'Cormorant Garamond';
    color: #ffffff7d;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mainHeader .titleHeader h2{
    font-size: 2vw;
    color: #9f7866;
}

.lastName{
    margin-left: 2vw;
}
.titleHeader ul li{
    font-weight: 700;
}
.titleHeader ul{
    display: flex;
    list-style: none;
}

.titleHeader ul:hover{
    cursor: default;
}

.oui{
    transition: all .4s;
}
.yo{
    opacity: 0;
}

.brown{
    color: #9f7866;
}

.white{
    color: #ffffff7d;
}

/* ====BOTTOM==== */

.mainHeader .siteVersion{
    height: fit-content;
    margin-bottom: 2vh;
    display: flex;
    align-items: flex-end;

    font-family: 'Cormorant Garamond';
    color: #9f7866;
    font-weight: 700;
    font-size: 2vw;
}

.mainHeader .siteVersion span{
    font-size: 80%;
    font-weight: 400;
}

.mainHeader .bottomHeader{
    height: fit-content;
    margin-bottom: 1vh;

    color: #0000008f;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
}

.bottomHeader:hover strong::after{
    width: 100%;
}


@media screen and (max-width : 425px) {

    .nextPage{
        font-family: 'Barlow Condensed', sans-serif;
        font-size: 3vw;
    }
    
    i{
        font-size: 2vw;
    }
    
    .mainHeader em{
        font-size: 10vw;
    }

    .pages{
        display: none;
    }

    .mainHeader .titleHeader{
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: center;
        padding-top: 1vh;
    }

    .titleHeader .bnd{
        flex-direction: column;
        align-items: center;
    }

    .mainHeader .titleHeader .idris li{
        font-size: 25vw;
    }

    .mainHeader .titleHeader .bnd{
        font-size: 20vw;
    }

    .mainHeader .titleHeader .only{
        width: 100%;
    }

    .mainHeader .titleHeader .lastName{
        margin: 0;
    }

    .mainHeader .titleHeader .h2s{
        width: 50%;
        margin-top: 5vh;
    }

    .mainHeader .titleHeader h2{
        font-size: 8vw;
        text-align: center;
    }

    .siteVersion p{
        font-size: 5vw;
    }

    .siteVersion p span{
        width: 90%;
    }

    .mainHeader .bottomHeader{
        margin-bottom: 5vh;
    }
}

