/* ====TOP==== */

.mainMiddle{
    height: 100vh;
    width: 200vw;
    display: flex;
    flex-wrap: nowrap;
}

/* ====TOP==== */

.leftSlider{
    height: 100vh;
    width: 100vw;

    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.leftSlider .topMain{
    height: fit-content;
    width: fit-content;
    margin-top: 1vh;

    color: #0000008f;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    cursor: pointer;
    text-transform: uppercase;
}

.leftSlider .topMain:hover strong::after{
    width: 100%;
}


.leftSlider h2{
    font-family: 'Cormorant Garamond';
    color: #9f7866;
    font-size: 3vw;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    margin-top: 5vh;
}

.leftSlider h3{
    font-family: 'Cormorant Garamond';
    color: #9f7866;
    text-transform: uppercase;
    font-size: 2vw;
    font-weight: 300;
    margin-top: 3vh;
}

/* ====MIDDLE==== */

.leftSlider .paragraphs p{
    font-size: 1.25vw;
    margin-top: 4vw;
    width: 35vw;
    font-family: 'Barlow Condensed', sans-serif;
    text-transform: uppercase;
    color: #925e3bcc;
    font-weight: 700;
}

/* ====BOTTOM==== */

.leftSlider .BottomRightleftSlider{
    position: absolute;
    height: fit-content;
    width: fit-content;
    text-align: center;
    color: #0000008f;
    cursor: pointer;
    text-transform: uppercase;

    bottom: 0;
    right: 0;
    margin-right: 2vw;
    margin-bottom: 2vh;
}

.leftSlider .BottomRightleftSlider:hover .nextPage::after{
    width: 100%;
}