/* ====ALL==== */

*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body{
    background-color: #e6d1b6;
    position: relative;
    overflow: hidden;
}


.nextPage{
    font-family: 'Barlow Condensed', sans-serif;
}

a{
    color: #0000008f;
    text-decoration: none;
}

.pages{
    font-family: 'Cormorant Garamond';
    color: #9f7866;
    font-weight: 400;
    font-size: 2vw;

    position: absolute;
    top: 0;
    right: 0;
    margin-right: 2vw;
    margin-top: 2vh;
}

/* animation générales */


/* soulignage */
.nextPage{
    position: relative;
}

.nextPage::after{
    content: "";
    position: absolute;
    display: block;
    width: 0%;
    height: 2px;
    background-color: #9f7866;
    transition: width .2s;
}

/* soulignage */


/* animation générales */


/* SELECTIONS */
body em::selection{
    background-color: none;
    color: #ffffff7d;
}

body p::selection{
    background-color: none;
    color: #ffffff7d;
}

body span::selection{
    background-color: none;
    color: #ffffff7d;
}

body strong::selection{
    background-color: none;
    color: #ffffff7d;
}

body h2::selection{
    background-color: none;
    color: #ffffff7d;
}

body h3::selection{
    background-color: none;
    color: #ffffff7d;
}

body a::selection{
    background-color: none;
    color: #ffffff7d;
}

body li::selection{
    background-color: none;
}
body ul::selection{
    background-color: none;
}