/* ====ALL==== */

*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body{
    background-color: #e6d1b6;
    position: relative;
}




.nextPage{
    font-family: 'Barlow Condensed', sans-serif;
}

a{
    color: #0000008f;
    text-decoration: none;
}


/* animation générales */


/* soulignage */
.nextPage{
    position: relative;
}

.nextPage::after{
    content: "";
    position: absolute;
    display: block;
    width: 0%;
    height: 2px;
    background-color: #9f7866;
    transition: width .2s;
}

/* soulignage */


/* animation générales */


/* SELECTIONS */
body em::selection{
    background-color: none;
    color: #ffffff7d;
}

body p::selection{
    background-color: none;
    color: #ffffff7d;
}

body span::selection{
    background-color: none;
    color: #ffffff7d;
}

body strong::selection{
    background-color: none;
    color: #ffffff7d;
}

body h2::selection{
    background-color: none;
    color: #ffffff7d;
}

body h3::selection{
    background-color: none;
    color: #ffffff7d;
}